@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

.Heading{
    font-family: 'Sriracha', cursive;
    text-align: center;
    color: #EBF5EE;
}


.Main{
    margin-left:  20%;
    
}

 .AutoCompleteText{
    
     width: 30%;
     float: left;
     position: relative;
     margin-left: 20px;
    border: 1px solid gray; 
     box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, .18);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.73); 
 }

.AutoCompleteText input{
    border:none;
    width: 100%;
    font-size: 14px;
    background: #E8F0FE;
    color:rgba(0, 0, 0, 0.73);
    padding: 10px 5px;
    box-sizing: border-box;
    outline: none;
}




.AutoCompleteText ul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    background: #E8F0FE;
    border-top: 1px solid grey;

}


.AutoCompleteText ul::before{
    content: "";
}


.AutoCompleteText li{
    padding: 10px 5px;
    cursor: pointer;

}






.PageviewIcon{
    margin-left: 20px;
    margin-top: -10px;
}

.Data{
   
    /* background-image: url(busbg3.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
 left:0px;
 bottom: 0px;
 top: 200px;
 z-index: -1;

}


.AutoCompleteText li:hover{
    text-decoration: underline;
    background-color: rgba(128, 128, 128, 0.20);
}




